@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply bg-neutral-50 text-neutral-900;
}

.prose {
  max-width: 100%;
}

@media print {
  .cbi-card-hide-print {
    display: none !important;
  }

  .cbi-card-print-only {
    display: block !important;
  }

  .cbi-business-card-page {
    background: #fff !important;
  }

  .cbi-business-card-page section {
    break-inside: avoid;
  }
}
